.sidebar {
  background-color: #2b3e50;
  display: block;
  height: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0 !important;
}

code {
  display: block;
  margin: 0 auto 0 auto;
  width: 70% !important;
  padding: 5px;
  background-color: white !important;
}

.main {
  background-color: #F7F9FA !important;
  color: #000000 !important;
}

.title {
  font-size: 4em;
  margin: 50px 0 50px 0;
}
/*
h1 {
  font-family: Crimson Text !important;
  font-size: 48px !important;
}

p {
  font-family: Cabin !important;
  font-size: 18px !important;*/
/*}*/

#profilePic {
  display: block;
  width: 80% ;
  margin: 100px auto 0 auto;
  border-radius: 50%;
}

.white-text {
  color: white;
}

.menu-sel {
  display: block;
  margin: 0 auto 0 auto !important;
  color: white;
  margin: none !important;
}

.menu-sel > li {
  padding: 0px 10px 0px 10px;
  margin: 5px auto 5px auto;
  list-style: none;
  display: inline-block;
  border-right: solid 1px #596a7b;
  font-size: 20px;
}

.menu-sel > li:last-child {
  border-right: none;
}
